.address {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet) {
    @include font-title(17px, 400);
    line-height: 30px;
    width: 335px;
  }
}

.address__company {
  width: 183px;

  @media (min-width: $tablet) {
    width: 257px;
  }
}

.address__text {
  margin: 0;

  @include font-title(14px, 400);
  font-style: normal;
  line-height: 30px;
  color: $color-second;
  text-decoration: none;
}
