.advantages__wrapper {
  width: 83.4%;
  margin: 0 auto 36px auto;

  @media (min-width: $tablet) {
    width: 87%;
    max-width: 680px;
  }

  @media (min-width: $desktop-width) {
    width: 91%;
    max-width: 1050px;
    display: flex;
  }
}

.advantages__inner {
  @media (min-width: $desktop-width) {
    padding-left: 140px;
  }
}

.advantages__title {
  @include font-title(25px, 30px);
  margin: 0 0 28px 0;

  @media (min-width: $tablet) {
    @include font-title(43px, 50px);
    margin: 0 0 41px 0;
  }

  @media (min-width: $desktop-width) {
    @include font-title(53px, 57px);
    margin: 0 0 39px 0;
  }
}

.advantages__list {
  margin: 0 auto;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    column-gap: 85px;
  }
}

.advantages__item {
  line-height: 20px;

  &--eco-material {
    background: url("../img/icon/advantages/icon-1.svg");
    background-repeat: no-repeat;

    @media (min-width: $tablet) {
      grid-column: 1;
      grid-row: 1;
      padding-right: 40px;
    }
  }

  &--advantages-financial {
    background: url("../img/icon/advantages/icon-2.svg");
    background-repeat: no-repeat;

    @media (min-width: $tablet) {
      grid-column: 1;
      grid-row: 2;
    }
  }

  &--like-photo {
    background: url("../img/icon/advantages/icon-3.svg");
    background-repeat: no-repeat;

    @media (min-width: $tablet) {
      grid-column: 1;
      grid-row: 3;
    }
  }

  &--handwork {
    background: url("../img/icon/advantages/icon-4.svg");
    background-repeat: no-repeat;
  }

  &--local-support {
    background: url("../img/icon/advantages/icon-5.svg");
    background-repeat: no-repeat;
  }


  &--gift-wrap {
    background: url("../img/icon/advantages/icon-6.svg");
    background-repeat: no-repeat;
  }
}

.advantages__item:not(:last-child) {
  margin-bottom: 30px;
}

.advantages__description {
  @include font-title(17px, 20px);
  margin: 0;
  padding-top: 47px;
}
