@import "variable";

.advantages {
  width: 320px;
  margin: 0 auto;
}

.advantages__wrapper {
  width: 260px;
  margin: 0 auto;
}

.advantages__title {
  @include font-title($size: 25px);
  line-height: 30px;
  margin: 0 0 28px 0;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages__item {
  @include font-title;
  line-height: 20px;
}

.advantages__item:not(:last-child) {
  margin-bottom: 83px;
}

.advantages__item--eco-material {
  background: url("../img/icon/advantages/icon-1.svg");
  background-repeat: no-repeat;
}

.advantages__description {
  margin: 0;
}

.advantages__item--advantages-financial {
  background: url("../img/icon/advantages/icon-2.svg");
  background-repeat: no-repeat;
}

.advantages__item--like-photo {
  background: url("../img/icon/advantages/icon-3.svg");
  background-repeat: no-repeat;
}

.advantages__item--handwork {
  background: url("../img/icon/advantages/icon-4.svg");
  background-repeat: no-repeat;
}

.advantages__item--local-support {
  background: url("../img/icon/advantages/icon-5.svg");
  background-repeat: no-repeat;
}


.advantages__item--gift-wrap {
  background: url("../img/icon/advantages/icon-6.svg");
  background-repeat: no-repeat;
}

