.advantages__wrapper {
  width: 81.3%;
  margin: 0 auto 36px;

  @media (min-width: $tablet) {
    width: 87%;
    max-width: 680px;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 91.3%;
    max-width: 1150px;
    display: flex;
    margin-bottom: 30px;
  }
}

.advantages__inner {
  @media (min-width: $desktop-width) {
    padding-left: 174px;
  }
}

.advantages__title {
  @include font-title(25px, 30px);
  margin: 0 0 28px 0;

  @media (min-width: $tablet) {
    @include font-title(43px, 50px);
    margin: 0 0 44px 0;
  }

  @media (min-width: $desktop-width) {
    @include font-title(53px, 57px);
    margin: 0 0 41px 0;
  }
}

.advantages__list {
  margin: 0 auto;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 290px 300px;
    column-gap: 60px;
  }
}

.advantages__item {
  line-height: 20px;

  @media (min-width: $desktop-width) {
    padding: 0;
  }

  &--eco-material {
    background: url("../img/icon/advantages/icon-1.svg");
    background-repeat: no-repeat;
    background-position: 9px 0;

    @media (min-width: $tablet) {
      grid-column: 1;
      grid-row: 1;
      padding-right: 40px;
    }

    @media (min-width: $desktop-width) {
      padding-right: 0;
    }
  }

  &--advantages-financial {
    background: url("../img/icon/advantages/icon-2.svg");
    background-repeat: no-repeat;

    @media (min-width: $tablet) {
      grid-column: 1;
      grid-row: 2;
    }
  }

  &--like-photo {
    background: url("../img/icon/advantages/icon-3.svg");
    background-repeat: no-repeat;
    background-position: 7px 5px;

    @media (min-width: $tablet) {
      grid-column: 1;
      grid-row: 3;
    }
  }

  &--handwork {
    background: url("../img/icon/advantages/icon-4.svg");
    background-repeat: no-repeat;
    background-position: 2px 3px;

    @media (min-width: $tablet) {
      padding-right: 30px;
    }

    @media (min-width: $desktop-width) {
      padding-right: 25px;
    }
  }

  &--local-support {
    background: url("../img/icon/advantages/icon-5.svg");
    background-repeat: no-repeat;
    background-position: 0 4px;
  }


  &--gift-wrap {
    background: url("../img/icon/advantages/icon-6.svg");
    background-repeat: no-repeat;
    background-position: 4px 2px;
  }
}

.advantages__item:not(:last-child) {
  margin-bottom: 29px;

  @media (min-width: $tablet) {
    margin-bottom: 57px;
  }
}

.advantages__description {
  @include font-title(17px, 20px);
  margin: 0;
  padding-top: 54px;

  @media (min-width: $tablet) {
    @include font-title(20px, 22px, 700);
  }
}
