.button-hamburger {
  width: 20px;
  height: 14px;
  padding: 0;
  border: none;
  background: transparent;

  @media (min-width: $tablet) {
    display: none;
  }
}

.button-hamburger__line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: $color-base;

  &::before,
  &::after {
    display: block;
    width: 100%;
    height: 2px;
    background-color: $color-base;
    content: "";
  }

  &::before {
    transform: translate(0, 4px);
  }

  &::after {
    transform: translate(0, 6px);
  }
}
