@import "variable.scss";

.button {
  display: block;
  padding: 16px 0;

  @include font-title(17px);
  line-height: 20px;

  text-transform: uppercase;
  color: #444444;
  text-align: center;
  background: hsl(0, 0%, 100%);

  border: 2px solid #444444;
  box-sizing: border-box;
  cursor: pointer;
}

.button--order {
  width: 260px;
}
