.catalog-menu {
  width: 100%;
  list-style: none;
  padding: 0;

  @media (min-width: $tablet) {
    display: flex;
    width: 668px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    width: 1050px;
  }
}

.catalog-menu__item {
  padding: 24px 0 31px 0;
  width: 100%;

  &.catalog-menu__item--interior {
    background: $decor-color;
  }

  &.catalog-menu__item--toys {
    background: $decor-color;
  }
}

.catalog-menu__link {
  display: block;

  @include font-title(19px);
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
  padding: 0 0 0 30px;
  width: 130px;
}
