.contacts__wrapper-container {
  @media (min-width: $desktop-width) {
    width: 91%;
    max-width: 1050px;
    display: grid;
    justify-content: end;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    margin: 71px auto 61px;
  }
}

.contacts__wrapper {
  width: 81%;
  margin: 0 auto;

  @media (min-width: $tablet) {
    width: 100%;
    max-width: 680px;
  }

  @media (min-width: $desktop-width) {
    width: 438px;
    padding-left: 138px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: end;
  }
}

.contacts__title {
  @include font-title(25px, 30px);
  margin: 0 0 28px 0;

  @media (min-width: $tablet) {
    @include font-title(43px, 50px);
    padding-top: 22px;
  }

  @media (min-width: $desktop-width) {
    @include font-title(53px, 57px, 700);
    width: 300px;
    padding-top: 78px;
    margin: 0;
  }
}

.contacts__wrapper-address {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet) {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
    width: 300px;
  }
}

.contacts__legend-link {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet) {
    width: 308px;
    justify-content: flex-start;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    display: block;
  }
}

.contacts__legend-title {
  @include font-title(14px, 30px, 400);
  color: $color-second;

  @media (min-width: $tablet) {
    @include font-title(17px, 30px, 400);
    margin-right: 25px;
  }
}

.contacts__email-link {
  position: relative;

  @include font-title(14px, 30px, 400);
  color: $color-second;
  text-decoration: none;
  min-width: 183px;
  margin-bottom: 30px;
  transition: 0.2s;

  &::before {
    content: "";
    position: absolute;
    width: 93%;
    bottom: 0;
    left: 0;
    background: rgb(98, 209, 186);
    height: 1px;

    @media (min-width: $tablet) {
      top: 30px;
      width: 100%;
    }
  }

  &:hover {
    color: rgb(70, 193, 174);
  }

  &:active {
    &::before {
      content: "";
      position: absolute;
      width: 95%;
      bottom: 0;
      left: 0;
      background: rgb(70, 193, 174, 0.1);
      height: 1px;
    }
  }

  @media (min-width: $tablet) {
    @include font-title(17px, 30px, 400);
  }
}

.contacts__address {
  margin-bottom: 62px;
}

.contacts__map {
  width: 100%;
  display: block;
  margin-bottom: 41px;
  border: none;

  @media (min-width: $tablet) {
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    width: 527px;
  }
}

.contacts__wrapper-button {
  width: 260px;
  margin: 0 auto 39px;

  @media (min-width: $tablet) {
    margin: 0 auto 57px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -56px;
    margin-right: 40px;
  }
}
