.contacts {
  width: 100%;
}

.contacts__wrapper-container {
  @media (min-width: $desktop-width) {
    width: 87%;
    display: grid;
    justify-content: end;
    grid-template-columns: 1fr 1fr;
    column-gap: 23px;
    margin: 0 auto 61px;
  }
}

.contacts__wrapper {
  width: 260px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    width: 87%;
  }

  @media (min-width: $desktop-width) {
    width: 438px;
    padding-left: 138px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.contacts__title {
  @include font-title(25px, 30px);
  margin: 0 0 28px 0;
  padding-top: 38px;

  @media (min-width: $tablet) {
    @include font-title(43px, 50px);
  }
}

.contacts__wrapper-address {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet) {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }
}

.contacts__legend-link {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet) {
    width: 308px;
  }
}

.contacts__legend-title {
  @include font-title(14px, 30px, 400);
  color: $color-second;

  @media (min-width: $tablet) {
    @include font-title(17px, 30px, 400);
  }
}

.contacts__email-link {
  @include font-title(14px, 30px, 400);
  color: $color-second;
  text-decoration: none;
  min-width: 183px;
  margin-bottom: 30px;

  @media (min-width: $tablet) {
    @include font-title(17px, 30px, 400);
  }
}

.contacts__address {
  margin-bottom: 62px;
}

.contact__map {
  width: 100%;
  margin-bottom: 48px;
  border: none;
}

.contacts__wrapper-button {
  width: 260px;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    margin-top: -56px;
    margin-right: 178px;
  }
}
