.data-users {
  margin: 0;
  padding: 0;
  border: none;
}

.data-users__title {
  @include font-title(17px, 16px);
  padding: 0;
  color: $decor-color;
}

.data-users__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.data-users__title-name {
  @include font-title(17px, 18px);
}

.data-users__field-name {
  margin: 0;
  padding: 0;
  border-top: none;
  border-left: none;
  border-right: none;
}
