.data-users {
  margin: 0 auto;
  padding: 0;
  border: none;
  width: 81%;

  @media (min-width: $tablet) {
    display: flex;
    width: 87%;
  }
}

.data-users__title {
  @include font-title(17px, 16px);
  text-transform: uppercase;
  color: $decor-color;
  padding: 0;
  margin: 0 0 29px 0;

  @media (min-width: $tablet) {
    margin: 0 97px 0 0;
  }
}

.data-users__list {
  margin: 0 0 34px 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet) {
    margin: 0 0 50px 0;
    width: 100%;
  }
}

.data-users__item {
  &:not(:last-child) {
    margin: 0 0 22px 0;
  }

  @media (min-width: $tablet) {
    &:not(:last-child) {
      margin: 0 0 24px 0;
    }
  }
}

.data-users__user-title {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet) {
    flex-direction: row;
    align-items: center;
  }
}

.data-users__title-name {
  @include font-title(17px, 18px);

  @media (min-width: $tablet) {
    margin: 0 24px 0 0;
  }
}

.data-users__field-name {
  margin: 0;
  border: none;
  padding: 17px 0;
  box-shadow: inset 0 -2px 0 $color-base;

  @media (min-width: $tablet) {
    width: 100%;
  }
}
