@import "variable.scss";

.field-additionally {}

.field-additionally__title {}

.field-additionally__title-name {
  @include font-title;
  line-height: 16px;
  color: $decor-color;
  text-transform: uppercase;
}

.field-additionally__field {}

.service-form__inner {}

.service-form__required-text {
  @include font-title(17px, 400);
  line-height: 16px;
  color: $color-second;
}

.button--send-order {
  width: 260px;
}
