.footer {
  width: 320px;
  margin: 0 auto;
  background: #f1f1f1f1;
}

.footer__wrapper {
  width: 260px;
  margin: 0 auto;
}

.footer__link-logo {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
