.footer {
  width: 100%;
  background: #f1f1f1f1;
}

.footer__wrapper {
  width: 260px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    width: 86.4%;
    max-width: 680px;
    padding: 58px 0 51px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 91.3%;
    max-width: 1050px;
  }
}

.footer__social {
  border-bottom: 1px solid #e5e5e5;

  @media (min-width: $tablet) {
    border: none;
  }
}

.footer__link-logo {
  display: none;

  @media (min-width: $tablet) {
    display: block;
    height: 34px;

    &:hover {
      fill: #46c1ae;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
