.form-type {
  margin: 0 auto;
  padding: 0;
  border: none;
  width: 81%;

  @media (min-width: $tablet) {
    display: flex;
    width: 87%;
  }
}

.form-type__title {
  @include font-title(17px, 16px);
  text-transform: uppercase;
  color: $decor-color;
  padding: 0;
  margin: 0 0 30px 0;

  @media (min-width: $tablet) {
    margin: 0 101px 0 0;
  }
}

.form-type__list {
  margin: 0 0 31px 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet) {
    margin: 0 0 50px 0;
  }
}

.form-type__item {
  position: relative;
  display: flex;
  align-items: center;
  width: 260px;
  margin-bottom: 11px;

  @media (min-width: $tablet) {
    margin-bottom: 24px;
  }
}

.form-type__check {
  margin: 0;
  display: flex;
  padding: 0 0 0 61px;

  @media (min-width: $tablet) {
    padding: 0 0 0 82px;
  }

  &--kids {
    padding: 11px 0 11px 61px;

    @media (min-width: $tablet) {
      padding: 16px 0 16px 82px;
    }
  }
}

.form-type__check-radio {
  appearance: none;
  position: absolute;

  @include font-title(17px, 18px);

  @media (min-width: $tablet) {
    @include font-title(19px, 18px);
  }
}

.form-type__radiobox {
  position: absolute;
  top: 0;
  width: 42px;
  height: 42px;
  border: 2px solid $color-second;
  border-radius: 50%;
  margin-left: -61px;

  @media (min-width: $tablet) {
    width: 52px;
    height: 52px;
    margin-left: -82px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: $decor-color;
    border-radius: 50%;
    top: 28%;
    left: 28%;

    @media (min-width: $tablet) {
      width: 22px;
      height: 22px;
    }
  }
}
