.form-color {
  margin: 0 auto;
  padding: 0;
  border: none;
  width: 81%;

  @media (min-width: $tablet) {
    display: flex;
    width: 87%;
  }
}

.form-color__title {
  @include font-title(17px, 16px);
  text-transform: uppercase;
  color: $decor-color;
  padding: 0;
  margin: 0 0 25px 0;

  @media (min-width: $tablet) {
    margin: 0 93px 0 0;
    padding: 50px 0 0 0;
  }
}

.form-color__list {
  margin: 0 0 33px 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 50px 0;
    padding: 50px 0 0 0;
  }
}

.form-color__item {
  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @media (min-width: $tablet) {
    width: 244px;
  }
}

.form-color__custom-checkbox {
  @include font-title(17px, 18px);
  padding: 10px 0;
}

.form-color__control-input {
  margin: 0;
}
