.form-color {
  margin: 0 auto;
  padding: 0;
  border: none;
  width: 81.3%;

  @media (min-width: $tablet) {
    display: flex;
    width: 87%;
  }
}

.form-color__title {
  @include font-title(17px, 16px);
  text-transform: uppercase;
  color: $decor-color;
  padding: 0;
  margin: 0 0 25px 0;
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 60px;
    height: 1px;
    width: 100%;
    background-color: #62d1ba;
  }

  @media (min-width: $tablet) {
    &::before {
      display: none;
    }
  }

  @media (min-width: $tablet) {
    margin: 0 114px 0 0;
    padding: 67px 0 0 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 61px 0 0;
  }
}

.form-color__list {
  margin: 0 0 33px 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet) {
    margin: 0 0 26px 0;
    padding: 50px 0 0 0;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 83.5%;
    margin-bottom: 26px;
  }
}

.form-color__item {
  width: 211px;

  &:not(:last-child) {
    margin-bottom: 23px;
  }

  @media (min-width: $tablet) {
    width: 248px;

    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 248px;

    &:not(:last-child) {
      margin-bottom: 28px;
    }
  }
}

.form-color__check {
  display: flex;
  align-items: center;
  padding: 10px 61px;

  @include font-title(17px, 18px);

  @media (min-width: $tablet) {
    @include font-title(19px, 18px);
    padding: 17px 91px;
  }

  @media (min-width: $desktop-width) {
    padding: 15px 91px;
  }
}

.form-color__check-input {
  margin: 0;
  appearance: none;
  position: absolute;

  &:focus-visible + .form-color__checkbox {
    outline: 2px solid #46c1ae;
    outline-offset: 2px;
  }

  &:checked + .form-color__checkbox {
    background-image: url("../img/icon/Tick.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 22px 16px;

    @media (min-width: $tablet) {
      background-position: 50% 50%;
      background-size: 31px 22px;
    }
  }
}

.form-color__checkbox {
  margin-left: -61px;
  position: absolute;
  box-sizing: border-box;
  width: 38px;
  height: 38px;
  border: 2px solid $color-second;

  &:hover {
    border: 2px solid $hover-color;
  }

  &:active {
    border: 2px solid rgba(68, 68, 68, 0.3);
  }

  @media (min-width: $tablet) {
    width: 52px;
    height: 52px;
    margin-left: -82px;
  }
}
