.form-type {
  margin: 0;
  padding: 0;
  border: none;
}

.form-type__title {
  padding: 0;

  @include font-title(17px, 16px);
  color: $decor-color;
}

.form-type__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.form-type__control-radio {
  margin: 0;
}

.form-type__radio-box {
  @include font-title(17px, 18px);
}
