.form-type {
  margin: 0 auto;
  padding: 0;
  border: none;
  width: 81.3%;

  @media (min-width: $tablet) {
    display: flex;
    width: 87%;
  }
}

.form-type__title {
  @include font-title(17px, 16px);
  text-transform: uppercase;
  color: $decor-color;
  padding: 0;
  margin: 0 0 30px 0;
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 60px;
    height: 1px;
    width: 100%;
    background-color: #62d1ba;
  }

  @media (min-width: $tablet) {
    &::before {
      display: none;
    }
    overflow: visible;
  }

  @media (min-width: $tablet) {
    margin: 0 134px 0 0;
    padding-top: 18px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 17px;
    margin-right: 79px;
  }
}

.form-type__list {
  margin: 0 0 29px 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet) {
    margin: 0 0 24px 0;
  }
}

.form-type__item {
  position: relative;
  display: flex;
  align-items: center;
  width: 260px;
  margin-bottom: 12px;

  @media (min-width: $tablet) {
    margin-bottom: 26px;
    width: 432px;
  }
}

.form-type__check {
  margin: 0;
  display: flex;
  padding: 6px 0 0 61px;

  @include font-title(17px, 18px, 700);

  @media (min-width: $tablet) {
    @include font-title(19px, 18px, 700);
    padding: 14px 0 17px 77px;
  }

  &--kids {
    padding: 11px 0 14px 61px;

    @media (min-width: $tablet) {
      padding: 16px 0 16px 77px;
    }
  }
}

.form-type__check-radio {
  appearance: none;
  position: absolute;

  &:focus-visible + .form-type__radiobox {
    outline: 2px solid #46c1ae;
    outline-offset: 2px;
  }

  &:disabled + .form-color__checkbox {
    opacity: 0.3;
  }

  @include font-title(17px, 18px);

  @media (min-width: $tablet) {
    @include font-title(19px, 18px);
  }

  &:checked + .form-type__radiobox::before {
    display: block;
  }
}

.form-type__radiobox {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 36px;
  height: 37px;
  border: 2px solid $color-second;
  border-radius: 50%;
  margin-left: -61px;

  &:hover {
    border: 2px solid $hover-color;
    border-radius: 50%;
  }

  &:active {
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
  }

  @media (min-width: $tablet) {
    width: 46px;
    height: 46px;
    margin-left: -77px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: $decor-color;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;

    @media (min-width: $tablet) {
      width: 22px;
      height: 22px;
    }
  }
}
