.header {
  position: relative;
}

.header__nav {
  @media (min-width: $tablet) {
    display: flex;
    width: 89.3%;
    max-width: 1049px;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: $desktop-width) {
    width: 91.3%;
    max-width: 1150px;
  }
}

.header__control-inner {
  display: flex;
  justify-content: center;
  width: 260px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    justify-content: start;
    margin: 0;
    flex-grow: 1;
    border-bottom: 1px solid #ececec;
  }

  @media (min-width: $desktop-width) {
    justify-content: center;
    order: 1;
    border-bottom: 1px solid #ececec;
  }
}

.header__toggle-menu {
  padding: 0;
  border: none;
  background: transparent;
  position: absolute;
  top: 32px;
  right: 31px;

  @media (min-width: $tablet) {
    display: none;
  }
}

.header__logo {
  padding: 22px 0;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet) {
    margin: 0;
    padding: 22px 0 20px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 9px 0 7px 0;
  }
}

.header__logo-image {
  display: block;

  @media (min-width: $tablet) {
    width: 113px;
    height: 46px;
  }

  @media (min-width: $desktop-width) {
    width: 149px;
    height: 72px;
  }
}

.header__site-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  &--close {
    display: none;
  }

  &--open {
    position: absolute;
    top: 79px;
    left: 0;
    background-color: #ffffff;
    width: 100%;
    z-index: 1;
    display: block;
  }

  @media (min-width: $tablet) {
    position: relative;
    background-color: #f9f9f9;
    flex-grow: 1;
    width: 347px;
    flex-wrap: wrap;
    display: flex;
    order: 1;
  }

  @media (min-width: $desktop-width) {
    width: 373px;
    align-items: center;
    order: 0;
    background-color: #ffffff;
    border-bottom: 1px solid #ececec;
  }
}

.header__site-list-catalog {
  @media (min-width: $tablet) {
    background-color: #f1f1f1;
  }
}

.header__site-item {
  display: flex;
  padding: 28px 0 26px 76px;
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
  cursor: pointer;

  &:hover .header__site-link {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active .header__site-link {
    color: rgba(0, 0, 0, 0.3);
  }

  @media (min-width: $tablet) {
    &--close {
      display: inline-block;
    }
    padding: 21px 35px 0 0;
    box-shadow: none;
  }

  @media (min-width: $desktop-width) {
    padding: 32px 0 31px 0;

    &:nth-child(1) {
      border-right: 1px solid rgba(0, 0, 0, 0.1);
      padding-right: 32px;
    }

    &:nth-child(2) {
      padding-left: 35px;
    }
  }
}

.header__site-link {
  text-decoration: none;

  @include font-title;
  color: $color-base;

  @media (min-width: $tablet) {
    @include font-title(15px, 24px, 700);
  }

  @media (min-width: $desktop-width) {
    @include font-title(17px, 24px, 700);
  }
}

.header__user-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  &--close {
    display: none;
  }

  &--open {
    position: absolute;
    top: 235px;
    left: 0;
    background-color: #ffffff;
    width: 100%;
    z-index: 1;
    display: block;
  }

  @media (min-width: $tablet) {
    width: 420px;
    flex-wrap: wrap;
    display: flex;
    justify-content: end;
    align-items: center;
    border-bottom: 1px solid #ececec;
  }

  @media (min-width: $desktop-width) {
    width: 379px;
    order: 1;
    justify-content: end;
    border-bottom: 1px solid #ececec;
  }
}

.header__user-item {
  @include font-title;
  display: flex;
  align-items: center;
  position: relative;
  padding: 28px 0 26px 32px;
  box-shadow: 0 1px 0 #ececec,
    inset 0 1px 0 #ececec;
  cursor: pointer;

  &:hover .header__link-icon {
    fill: $hover-color;
  }

  &:active .header__user-link {
    color: rgba(0, 0, 0, 0.3);
  }

  @media (min-width: $tablet) {
    padding: 0;
    box-shadow: none;

    &:nth-child(1) {
      padding: 36px 31px 34px 33px;
      border-left: 1px solid #ececec;
      border-right: 1px solid #ececec;
    }

    &:nth-child(2) {
      padding: 32px 0 31px 31px;
    }
  }
}

.header__user-link {
  color: $color-base;
  text-decoration: none;
}

.header__link-icon {
  &--search {
    margin-right: 26px;
    fill: rgba(0, 0, 0, 0.2);

    @media (min-width: $tablet) {
      margin: 0;
    }
  }

  &--basket {
    margin-right: 25px;
    fill: rgba(0, 0, 0, 0.2);

    @media (min-width: $tablet) {
      margin-right: 30px;
    }
  }
}

.header__text-search {
  @media (min-width: $tablet) {
    display: none;
  }
}

.header__stock-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: none;
  cursor: pointer;

  @media (min-width: $desktop-width) {
    flex-wrap: wrap;
    display: flex;
    flex-grow: 1;
    order: 1;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
      height: 47px;
      z-index: -1;
      background-color: #f9f9f9;
    }
  }
}

.header__stock-item {
  padding: 20px 0 0 0;

  &:not(:last-child) {
    margin-right: 60px;
  }
}

.header__stock-link {
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @include font-title;
  color: $color-base;

  @media (min-width: $desktop-width) {
    @include font-title(15px, 24px, 700);
  }
}

.header__small-text {
  display: none;
  margin: 0;

  @include font-title(15px, 24px, 400);
  color: $color-base;

  @media (min-width: $tablet) {
    padding: 22px 0 0 0;
    margin: 0;

    @include font-title(15px, 24px, 400);
    color: $color-base;
    display: block;
    margin-left: auto;
    order: 2;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
      height: 46px;
      z-index: -1;
      background-color: #f9f9f9;
    }
  }
}

.header__small-text-catalog {
  background-color: #f1f1f1;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 47px;
    z-index: -1;
    background-color: #f1f1f1;
  }
}
