.header {
  height: 79px;
  width: 320px;
  display: flex;
  align-items: center;
}

.header__wrapper {
  width: 260px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.header__link-logo {
  display: block;
}

.header__toggle-button {
  padding: 0;
}
