.header {
  @media (min-width: $tablet) {
    width: 100%;
  }
}

.header__wrapper {
  position: relative;

  @media (min-width: $tablet) {
    width: 87%;
    margin: 0 auto;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    width: 88%;
  }
}

.header__logo {
  height: 79px;
  text-align: center;
  display: block;

  @media (min-width: $tablet) {
    position: absolute;
    top: 22px;
    left: 0;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 9px;
    left: 43%;
  }
}

.header__logo img {
  width: 86px;
  height: 79px;

  @media (min-width: $tablet) {
    width: 113px;
    height: 46px;
  }

  @media (min-width: $desktop-width) {
    width: 149px;
    height: 72px;
  }
}

.header__nav-wrapper {
  display: flex;
  width: 100%;

  @media (min-width: $desktop-width) {
    width: 80%;
    margin: 32px auto 0;
  }
}
