.main-nav {
  width: 100%;
  // display: none;

  &--closed .main-nav__toggle {
    &::before {
      content: "";
      position: absolute;
      top: 2px;
      left: 0;
      width: 20px;
      height: 2px;
      background-color: $color-base;
      box-shadow: 0 4px 0 0 $color-base, 0 8px 0 0 $color-base;
    }
  }

  &--open .main-nav__toggle {
    width: 21px;
    height: 20px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 9px;
      left: 0;
      width: 21px;
      height: 2px;
      background-color: $color-base;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}

.main-nav__toggle {
  width: 20px;
  height: 14px;
  padding: 0;
  border: none;
  background: transparent;
  display: block;
  position: absolute;
  top: 32px;
  right: 31px;
  cursor: pointer;

  @media (min-width: $tablet) {
    display: none;
  }
}

.main-nav__menu-wrapper {
  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    min-height: 89px;
  }
}

.main-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}
