.main-nav {
  @media (min-width: $tablet) {
    width: 100%;
  }
}

.main-nav__menu {
  width: 260px;
  margin: 0 auto;
  display: none;

  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    width: 700px;
    margin: 0 auto;
  }

  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    width: 1200px;
  }
}

.main-nav__list {
  width: 320px;
}
