.main-page {
  flex-grow: 1;
}

.main-page__promo {
  position: relative;
  background-color: #f1f1f184;
  background-image: url("../img/Promo/hero-mobile@2x.webp");
  background-repeat: no-repeat;
  background-position: 50% -17px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/Promo/hero-mobile@2x@2x.webp");
    background-size: 568px auto;
  }

  @media (min-width: $tablet) {
    background-image: url("../img/Promo/tablet/hero-tablet.webp");
    background-position: 50% -47px;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 24px;
      left: 0;
      bottom: 0;
      background: url("../img/line-decor/zigzag-fill-tablet-promo.svg");
      z-index: 1;
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/Promo/tablet/hero-tablet@2x.webp");
      background-size: cover;
      background-position: 50% -17px;
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/Promo/hero-desktop.webp");
    background-position: 50% -45px;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 34px;
      left: 0;
      bottom: 0;
      background: url("../img/line-decor/zigzag-fill-desktop-index.svg");
      z-index: 1;
    }
  }
}

.main-page__product-weeks {
  margin-bottom: 31px;

  @media (min-width: $tablet) {
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 68px;
  }
}

.main-page__reviews {
  margin-bottom: 38px;

  @media (min-width: $tablet) {
    margin-bottom: 46px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 71px;
  }
}

.main-page__heading {
  position: relative;
  margin-bottom: 32px;
  background: #f1f1f1;

  &--form-page {
    margin-bottom: 17px;
  }

  @media (min-width: $tablet) {
    margin-bottom: 67px;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 24px;
      left: 0;
      bottom: 0;
      background: url("../img/line-decor/zigzag-fill-tablet-promo.svg");
      z-index: 1;
    }

    &--form-page {
      margin-bottom: 54px;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 34px;
      left: 0;
      bottom: 0;
      background: url("../img/line-decor/zigzag-fill-desktop.svg");
      z-index: 1;
    }
    margin-bottom: 111px;

    &--form-page {
      margin-bottom: 98px;
    }
  }
}

.main-page__heading-title {
  margin: 0;
  padding: 73px 0 73px 0;

  @include font-title(27px, 30px);
  text-align: center;

  @media (min-width: $tablet) {
    @include font-title(43px, 50px);
    padding: 56px 0 87px 0;
  }

  @media (min-width: $desktop-width) {
    @include font-title(53px, 57px);
    padding: 57px 0 113px 0;
    margin: 0 auto;
    max-width: 1050px;
  }
}

.main-page__catalog-wrapper {
  width: 81.25%;
  margin: 0 auto;

  @media (min-width: $tablet) {
    width: 87%;
    max-width: 680px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    max-width: 1050px;
  }
}

.main-page__form-wrapper {
  width: 100%;
}

.main-page__service-promo-text {
  width: 81%;
  margin: 0 auto 30px;

  @include font-title(13px, 24px, 400);
  color: $color-second;

  @media (min-width: $tablet) {
    @include font-title(17px, 30px, 400);
    width: 87%;
    margin-bottom: 63px;
    max-width: 1050px;
  }

  @media (min-width: $desktop-width) {
    width: 61%;
    margin-bottom: 64px;
  }
}

.main-page__list {
  margin: 0;

  @media (min-width: $tablet) {
    margin: 0 auto 41px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    padding-bottom: 12px;
  }
}

.main-page__inner {
  width: 260px;
  margin: 0 auto;
}
