.main-nav {
  // display: flex;
}

.main-nav__menu {
  width: 260px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    width: 700px;
    margin: 0 auto;
  }
}

.main-nav__list {
  width: 320px;

  // @media (min-width: $tablet) {
  //   margin-top: 65px;
  // }
}
