.main-page {
  flex-grow: 1;

  @media (min-width: $desktop-width) {
    margin-top: -64px;
  }
}

.main-page__catalog-wrapper {
  margin: 0 auto;
}

.main-page__form-wrapper {
  width: 100%;
}

.main-page__service {
  width: 260px;
  margin: 0 auto;
}

.main-page__service-promo-text {
  width: 81%;
  margin: 0 auto 29px;

  @include font-title(14px, 24px, 400);
  color: $color-second;
  max-width: 260px;

  @media (min-width: $tablet) {
    @include font-title(17px, 30px, 400);
    max-width: 680px;
  }

  @media (min-width: $desktop-width) {
    width: 87%;
    padding: 31px 0 33px 0;
    max-width: 702px;
  }
}

.main-page__list {
  margin: 0;

  @media (min-width: $tablet) {
    margin: 0 auto 39px;
  }
}

.main-page__inner {
  width: 260px;
  margin: 0 auto;
}
