.menu-user {
  @media (min-width: $tablet) {
    display: flex;
    width: 348px;
    height: 89px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.menu-user__item {
  @media (min-width: $tablet) {
    padding: 0;
    box-shadow: none;
    border-left: 1px solid #ececec;
  }
}
