.menu-offer {
  display: none;

  @media (min-width: $tablet) {
    display: none;
    width: 334px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
  }
}

.menu-offer__link {
  @include font-title(17px, 24px);
  color: $color-base;
  text-decoration: none;

  @media (min-width: $tablet) {
    @include font-title(15px, 24px);
  }
}
