.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;

  @media (min-width: $tablet) {
    width: 348px;
    display: flex;
    justify-content: space-between;
  }
}

.menu-list__item {
  background: #ffffff;
  // padding: 28.5px 0 26.5px 0;

  @media (min-width: $tablet) {
    width: 100%;
    padding: 0;
    margin-top: 65px;
  }
}

.menu-list__link {
  @include font-title;

  text-decoration: none;
  color: $color-base;

  @media (min-width: $tablet) {
    font-size: 15px;
    line-height: 24px;
  }
}
