.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 260px;

  @media (min-width: $tablet) {
    width: 348px;
    display: flex;
    justify-content: space-between;
  }
}

.menu-list__item {
  background: #ffffff;
  padding: 28.5px 0 26.5px 0;

  @media (min-width: $tablet) {
    padding: 0;
  }
}

.menu-list__link {
  @include font-title;

  text-decoration: none;
  color: $color-base;
}
