.modal {
  display: none;
}

.modal-window__title {
  margin: 0;

  @include font-title(25px, 25px, 700);
}

.modal-window__size-product {
  padding: 0;
  margin: 0;
}

.size-product__legend-title {
  padding: 0;
}

.size-product__list {
  margin: 0;
  padding: 0;
}
