.modal {}

.modal-window {}

.modal-window__modal {}

.modal-window__modal-wrapper {}

.modal-window__modal-content {}

.modal-window__title {
  margin: 0;
  font-family: inherit;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

.modal-window__size-product {}

