.offer-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;


  &--hidden {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.offer-item {
  @media (min-width: $desktop-width) {
    min-width: 130px;

    &:not(:last-child) {
      margin-right: 82px;
    }
  }
}

.offer-link {
  text-decoration: none;
  color: $color-base;

  @include font-title(15px);
  line-height: 24px;
}
