.product-card {
  width: 100%;
}

.product-card__list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 81%;

  @media (min-width: $tablet) {
    width: 87%;
    margin-bottom: 41px;
  }
}
