.product-weeks__title {
  margin: 0;
}

.product-weeks__wrapper {
  width: 81.5%;
  margin: 0 auto;

  @media (min-width: $tablet) {
    width: 87%;
    max-width: 680px;
    margin-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 91%;
    max-width: 1050px;
  }
}
