.product-weeks {
  width: 100%;
}

.product-weeks__title {
  margin: 0;
}

.product-weeks__wrapper {
  width: 260px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    width: 668px;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
  }
}
