.promo-video {
  width: 100%;
}

.promo-video__wrapper {
  display: flex;
  flex-direction: column;
  width: 81%;
  margin: 0 auto 58px;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  padding: 21px 0 33px 0;

  @media (min-width: $tablet) {
    width: 87%;
    max-width: 680px;
    border-top: none;
    margin: 0 auto 64px;
    padding: 0 0 44px 0;
  }

  @media (min-width: $desktop-width) {
    border-top: 1px solid #ececec;
    max-width: 1050px;
    min-width: 1050px;
    display: grid;
    grid-template-columns: 682px 1fr;
    grid-template-rows: auto 1fr;
    gap: 0 80px;
    padding: 0;
    margin: 0 auto 105px;
  }

  &:hover {
    box-sizing: border-box;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-sizing: border-box;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

.promo-video__title {
  @include font-title(17px, 24px);
  width: 156px;
  margin: 0;
  padding: 0 0 26px 91px;

  @media (min-width: $tablet) {
    @include font-title(20px, 24px);
    width: 336px;
    order: 1;
    margin: 0 0 24px 0;
    padding: 6px 0 0 107px;
  }

  @media (min-width: $desktop-width) {
    grid-row: 1;
    grid-column: 2/3;
    width: 178px;
    height: 80px;
    margin: 0;
    padding: 98px 0 0 0;
  }

  &--icon-camera {
    background: url("../img/icon/video/video-camera.svg");
    background-repeat: no-repeat;
    background-position: 34px 13px;

    @media (min-width: $tablet) {
      background-position: 43px 3px;
    }

    @media (min-width: $desktop-width) {
      background-position: 0 48px;
    }
  }
}

.promo-video__description-wrapper {
  padding: 0 25px;
  width: 81%;

  @media (min-width: $tablet) {
    width: 93%;
    order: 3;
  }
}

.promo-video__description-text {
  margin: 0;
  margin-bottom: 41px;
  width: 89%;
  padding-left: 34px;

  @include font-title(13px, 24px, 400);
  color: $color-second;

  @media (min-width: $tablet) {
    @include font-title(15px, 30px, 400);
    padding: 0 0 0 40px;
    width: 87%;
    max-width: 680px;
    order: 2;
  }

  @media (min-width: $desktop-width) {
    margin: -5px 0 0 0;
    padding: 0;
    width: 252px;
    grid-column: 2/3;
    grid-row: 2;
  }
}

.promo-video__image-wrapper {
  @media (min-width: $tablet) {
    width: 100%;
    max-width: 768px;
    order: 2;
  }
}

.promo-video__wrapper-images {
  position: relative;
  margin-bottom: 35px;

  @media (min-width: $tablet) {
    width: 668px;
    height: 455px;
  }

  @media (min-width: $desktop-width) {
    width: 682px;
    grid-column: 1/3;
    grid-row: 1/3;
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 76px;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-image: url("../img/video/play.svg");
    background-repeat: no-repeat;
    z-index: 1;
    cursor: pointer;
  }

  &::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 76px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgb(255, 255, 255);
    background-position: 50% 50%;
    z-index: -1;
  }

  &:hover::before {
    transform: scale(1.1);
  }

  &:active::before,
  &:active::after {
    width: 100px;
    height: 76px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgb(235, 235, 235, 0.6);
    z-index: 1;
    border-radius: 20px;
    transform: scale(0.8);
  }
}

.promo-video__image {
  width: 100%;
  height: auto;
  display: block;
  cursor: pointer;

  @media (min-width: $tablet) {
    width: 668px;
    height: 455px;
  }

  @media (min-width: $desktop-width) {
    width: 682px;
    height: 455px;
  }
}

.promo-video__button {
  width: 192px;
  margin: 0 auto;
  padding: 16px 0;

  @media (min-width: $tablet) {
    width: 584px;
    margin-left: 40px;
    order: 3;
  }

  @media (min-width: $desktop-width) {
    width: 230px;
    height: 52px;
    margin: 0 0 57px 0;
    grid-column: 2/3;
    grid-row: 2;
    align-self: flex-end;
  }
}
