.promo-video {
  width: 100%;
}

.promo-video__wrapper {
  width: 81%;
  margin: 0 auto;
}

.promo-video__title {
  width: 213px;
  margin: 0 auto;
  display: flex;
  justify-content: end;

  @include font-title;
  line-height: 24px;
  color: $color-base;
  padding: 21.5px 0 26.5px 0;

  &--icon-camera {
    background: url("../img/icon/video/video-camera.svg");
    background-repeat: no-repeat;
  }
}

.promo-video__description-wrapper {
  padding-left: 34px;
  width: 86.8%;
}

.promo-video__description-text {
  margin: 0 0 41px 0;
  padding: 0 10px 0 0;

  @include font-title(13px, 400);
  line-height: 24px;
  color: $color-second;
}
