.promo__title {
  @include font-title(27px, 30px);
  margin: 0 auto;
  width: 260px;
  text-align: center;
  padding: 73px 0 120px 0;

  @media (min-width: $tablet) {
    @include font-title(43px, 50px);
    width: 668px;
    padding: 109px 0 372px 0;
  }

  @media (min-width: $desktop-width) {
    @include font-title(53px, 57px);
    width: 55.2%;
    max-width: 1150px;
    padding: 157px 0 355px 0;
  }
}
