.service-form__type {
  @media (min-width: $desktop-width) {
    width: 80.7%;
    max-width: 1050px;
  }
}

.service-form__color {
  @media (min-width: $desktop-width) {
    width: 80.7%;
    max-width: 1050px;
  }
}

.service-form__element-wrapper {
  @media (min-width: $tablet) {
    width: 100%;
    background: #f1f1f1;
  }
}

.service-form__data-users {
  @media (min-width: $tablet) {
    padding: 50px 0 0 0;
  }

  @media (min-width: $desktop-width) {
    padding: 50px 0 0 0;
    width: 80.7%;
    max-width: 1050px;
  }
}

.service-form__contacts {
  @media (min-width: $tablet) {
    padding: 43px 0 30px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 42px 0 0 0;
    width: 80.7%;
    max-width: 1050px;
  }
}

.service-form__inner {
  @media (min-width: $tablet) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 87.7%;
  }
}

.service-form__field-additionally {
  @media (min-width: $desktop-width) {
    width: 80.7%;
    max-width: 1050px;
    padding: 50px 0 0 0;
  }
}

.service-form__required-text {
  @include font-title(14px, 16px, 400);
  display: block;
  margin: 0 0 30px 0;

  @media (min-width: $tablet) {
    @include font-title(17px, 30px, 400);
    color: $color-second;
    margin: 0;
    padding-top: 11px;
  }
}

.service-form__button {
  text-transform: uppercase;
  margin-bottom: 55px;

  @media (min-width: $tablet) {
    margin-bottom: 48px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 114px;
  }
}
