.service-form__type {
  @media (min-width: $desktop-width) {
    width: 69%;
  }
}

.service-form__color {
  @media (min-width: $desktop-width) {
    width: 69%;
  }
}

.service-form__element-wrapper {
  @media (min-width: $tablet) {
    width: 100%;
    background: #f1f1f1;
  }
}

.service-form__data-users {
  @media (min-width: $tablet) {
    padding: 50px 0 0 0;
  }

  @media (min-width: $desktop-width) {
    padding: 50px 0 0 0;
    width: 69%;
  }
}

.service-form__contacts {
  @media (min-width: $tablet) {
    padding: 50px 0 50px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 50px 0 0 0;
    width: 69%;
  }
}

.service-form__inner {
  @media (min-width: $tablet) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 0 140px;
  }
}

.service-form__field-additionally {
  @media (min-width: $desktop-width) {
    width: 69%;
    padding: 50px 0 0 0;
  }
}

.service-form__required-text {
  display: block;
  margin: 0 0 30px 0;

  @media (min-width: $tablet) {
    margin: 0;
  }
}
