.site-basket__link-backet {
  @include font-title(17px, 24px);
  color: $color-base;
  text-decoration: none;

  @media (min-width: $tablet) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: block;
    padding-top: 0;
  }
}
