.site-basket__link-backet {
  @include font-title(17px, 24px);
  color: $color-base;
  text-decoration: none;
  cursor: pointer;

  @media (min-width: $tablet) {
    padding: 32px 0 32px 0;
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: block;
    padding: 32px 0 32px 0;
  }
}

.site-basket__link-backet span {
  @media (min-width: $tablet) {
    padding: 0 10px 0 0;
  }
}
