.site-basket__link-backet {
  @include font-title;
  line-height: 24px;
  text-decoration: none;
  color: $color-base;

  @media (min-width: $tablet) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: block;
    padding-top: 0;
  }
}
