.size-product__group-button {
  margin: 0;
  padding: 0;
  border: 0;
}

.size-product__legend-title {
  @include font-title(15px, 400);

  line-height: 30px;
  color: $color-second;
}

.size-product__list {
  list-style: none;
}

.size-product__legend-size {
  @include font-title(16px);

  line-height: 17px;
  color: $color-second;
}

.size-product__button {
  border: none;
  width: 260px;
  color: #ffffff;
  font-size: 17px;
  line-height: 16px;
}
