.size-product__group-button {
  margin: 0;
  padding: 0;
  border: 0;
}

.size-product__legend-title {
  @include font-title(15px, 30px, 400);
  color: $color-second;
}

.size-product__list {
  list-style: none;
}

.size-product__legend-size {
  @include font-title(16px, 17px);
  color: $color-second;
}

.size-product__button {
  @include font-title(17px, 16px);
  border: none;
  width: 260px;
  color: #ffffff;
}
