.slider__toggle {
  width: 130px;
  padding: 12px 0 12px 0;
  background: #ffffff;
  border: 1px solid #ededed;
  box-sizing: border-box;
}

.slider__toggle-icon {
  display: block;
  margin: 0 auto;
}
