.social {
  display: flex;
  justify-content: center;
}

.social__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.social__item {
  width: 28px;
  padding: 25px 0 28px 0;
  margin-right: 29px;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }

  @media (min-width: $tablet) {
    padding: 0;
  }
}

.social__link {
  display: block;

  &:focus-visible {
    outline: 2px solid #46c1ae;
    outline-offset: 2px;
  }
}

.social__link-icon {
  fill: $color-base;

  &:hover {
    fill: $hover-color;
  }

  &:active {
    opacity: 0.3;
  }
}
