.stats-product {
  display: flex;
  margin: 0 auto;
  width: 78%;
  border-bottom: 1px solid #ececec;
}

.stats-product__item {
  @include font-title(13px, 400);
  display: flex;
  line-height: 30px;
  color: $color-second;
  margin-bottom: 17.5px;
}

.stats-product__desription {
  margin: 0;
}
