.stats-product {
  width: 78%;
  display: flex;
  margin: 0 auto;
}

.stats-product__item {
  @include font-title(13px, 30px, 400);
  display: flex;
  color: $color-second;
  margin-bottom: 17px;

  @media (min-width: $tablet) {
    @include font-title(15px, 30px);
  }
}

.stats-product__desription {
  margin: 0;
}
