.stats-product {
  display: flex;
  margin: 0;
}

.stats-product__item {
  display: flex;
  font-family: inherit;
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  color: #444444;
}

.stats-product__lable {}

.stats-product__desription {
  margin: 0;
}
