.user-list {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet) {
    width: 405px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
  }
}

.user-list__item {
  background: #ffffff;

  @media (min-width: $tablet) {
    padding: 0;
  }
}
