.user-list {
  width: 260px;
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet) {
    width: 348px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
  }
}

.user-list__item {
  background: #ffffff;
  padding: 28.5px 0 26.5px 0;

  @media (min-width: $tablet) {
    padding: 0;
  }
}
