@use "../sass/fonts.scss";
@use "../sass/variable.scss";
@use "../sass/general-style.scss";
@use "../sass/block/header.scss";
@use "../sass/block/main-nav.scss";
@use "../sass/block/menu-list.scss";
@use "../sass/block/user-list.scss";
@use "../sass/block/form-search.scss";
@use "../sass/block/site-basket.scss";
@use "../sass/block/main-page.scss";
@use "../sass/block/catalog.scss";
@use "../sass/block/catalog-menu.scss";
@use "../sass/block/product-weeks.scss";
@use "../sass/block/top-product.scss";
@use "../sass/block/button.scss";
@use "../sass/block/advantages.scss";
@use "../sass/block/reviews.scss";
@use "../sass/block/slider.scss";
@use "../sass/block/contacts.scss";
@use "../sass/block/address.scss";
@use "../sass/block/footer.scss";
@use "../sass/block/social.scss";
@use "../sass/block/copyright.scss";
@use "../sass/block/modal.scss";
@use "../sass/block/size-product.scss";


html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 17px;
}

