@import "../sass/viewports.scss";
@import "../sass/fonts.scss";
@import "../sass/variable.scss";
@import "../sass/general-style.scss";
@import "../sass/block/header.scss";
@import "../sass/block/main-nav.scss";
@import "../sass/block/menu-list.scss";
@import "../sass/block/user-list.scss";
@import "../sass/block/form-search.scss";
@import "../sass/block/site-basket.scss";
@import "../sass/block/main-page.scss";
@import "../sass/block/catalog-menu.scss";
@import "../sass/block/product-weeks.scss";
@import "../sass/block/top-product.scss";
@import "../sass/block/button.scss";
@import "../sass/block/advantages.scss";
@import "../sass/block/reviews.scss";
@import "../sass/block/slider.scss";
@import "../sass/block/contacts.scss";
@import "../sass/block/address.scss";
@import "../sass/block/footer.scss";
@import "../sass/block/social.scss";
@import "../sass/block/copyright.scss";
@import "../sass/block/modal.scss";
@import "../sass/block/size-product.scss";
@import "../sass/block/heading-container.scss";
@import "../sass/block/heading-wrapper.scss";
@import "../sass/block/product-card.scss";
@import "../sass/block/card-list.scss";
@import "../sass/block/stats-product.scss";
@import "../sass/block/promo-video.scss";
@import "../sass/block/form-type.scss";
@import "../sass/block/form-color.scss";
@import "../sass/block/data-users.scss";
@import "../sass/block/form-contacts.scss";
@import "../sass/block/field-additionally.scss";
@import "../sass/block/button-gamburger.scss";
@import "../sass/block/offer-list.scss";
@import "../sass/block/logo.scss";


html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 17px;
}

