$color-base:#000000;
$color-second: #444444;

@mixin font-title($fs: 17px, $lh: $fs * 1.2, $fw: 700) {
  font-family: "Open Sans", sans-serif;
  font-weight: $fw;
  font-size: $fs;
  line-height: $fs * 1.2;
}

@mixin text-dec() {
  text-decoration: none;
  color: $colorb;
}
